#aside {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 90vh;
  color: black;
  /* color: var(--text); */
  /* background: rgba(255, 255, 255, 0.5); */
  background: var(--glass);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: 3s;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.section:has(svg) {
  cursor: pointer;
}

.section span {
  display: block;
}

.selected {
  color: var(--primary);
  font-weight: bold;
  font-size: 2em;
}