.opened-folder {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 800px;
  height: 400px;
  border: 1px solid #ccc;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* border: 2px solid rgb(54, 54, 54); */
}

.opened-folder-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #e0e0e0;
  border-bottom: 1px solid #ccc;
  height: 2.5em;
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 10;
}

.scrollable-content {
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: max-content;
}

.opened-folder-column-header {
  display: contents;
}

.column-header-cell {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #f0f0f0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 5;
  cursor: pointer;
}

.column-header-cell:last-child {
  border-right: none;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5px;
  height: 100%;
  cursor: col-resize;
  background-color: rgba(128, 128, 128, 0.384);
  z-index: 6;
}

.resizer:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

.opened-folder-content-items {
  display: contents;
}

.column-item-cell {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.column-item-cell:last-child {
  border-right: none;
}

.opened-folder-column-header p,
.column-item-cell p {
  margin: 2px 5px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dragging .opened-folder {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.dragging .opened-folder-header {
  background-color: #dadada;
}

