.opened-file {
  position: absolute;
  top: 140px;
  left: 300px;
  width: 1000px;
  height: 540px;
  box-shadow: 8px 8px black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: var(--border-width-thick) solid var(--border-primary);
  box-sizing: border-box;
  z-index: 2;
  background-color: var(--fg-main);
}

.opened-file-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
  border-bottom: 2px solid black;
  height: 2.8em;
  box-sizing: border-box;
  z-index: 10;
}

.opened-file-header-title {
  font-size: 1.2em;
  font-weight: 500;
  box-sizing: border-box;
}

.dragging .opened-file-header {
  background-color: var(--secondary-color-variant-1);
}

.opened-file-header-buttons button {
  cursor: pointer;
  background-color: #f1f1f1;
  border: 2px solid black;
  font-size: 1em;
  color: black;
  font-weight: bolder;
  padding: 2px 6px;
}

.opened-file-header-buttons button:disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.opened-file-header-buttons button:nth-child(3) {
  margin-left: 10px;
}

.opened-file-content {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .opened-file {
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    box-shadow: none;
  }

  .opened-file-header-buttons button:disabled {
    opacity: 0.5 !important;
    cursor: default !important;
  }
}