.container {
  display: flex;
  width: 90%;
  max-height: 100%;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid limegreen; */
}

.visualization {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.list {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.listItem {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  background: linear-gradient(to left, var(--glass), transparent);
  color: var(--primary);
}

.listItem small {
  color: var(--text)
}

.listItem h2 {
  font-size: 1.5em;
}

.hovered {
  transform: scale(1.05);
  flex: 2;
  background: transparent;
}

.notHovered {
  transform: scale(0.98);
}

.projectName {
  margin: 0;
  font-size: 1.2em;
  text-transform: uppercase;
}

.projectMeta {
  margin: 5px 0 0;
  font-size: 0.8em;
  color: #666;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ddd; */
  width: 100%;
  /* max-width: 100%; */
  /* width: 100%; */
  color: var(--accent);
}

.infoDiv .header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.infoDiv .header h2 {
  margin: 0;
  font-size: 3em;
}

.infoDiv .header p {
  margin: 0;
}

.projectImage {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.projectType {
  font-style: italic;
  color: var(--text);
}

.projectLink {
  display: inline-block;
  padding: 10px 20px;
  /* border: 1px solid hotpink; */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.projectLink:hover {
  background-color: var(--glass);
}

.placeholder {
  color: #999;
  font-size: 1.2em;
}

