.container {
  display: flex;
  width: 90%;
  max-height: 80%;
  padding: 10px;
}

.visualization {
  position: relative;
  flex: 1;
  overflow: hidden;
  align-items: center;
}

.list {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  box-sizing: border-box;
}

.list-item {
  cursor: pointer;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 5px;
  transition: all 0.2s ease;
  color: var(--primary);
  scale: 0.98;
  border-radius: 2em 0 0 2em;
}

.list-item:hover {
  transition: all 0.5s ease;
  color: var(--highcontrast);
  scale: 1.05;
}

.list-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--accent), transparent);
  opacity: 0;
  border-radius: 2em 0 0 2em;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.list-item:hover::after {
  opacity: 0.5;
}

.list-item:hover + * {
  transition: all 0.2s ease;
  scale: 0.99;
}

.list-item:has(+ *:hover) {
  transition: all 0.2s ease;
  scale: 0.99;
}

.list-item small {
  color: var(--text)
}

.list-item h2 {
  font-size: 1.5em;
}

.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--glass);
  border-radius: 10px;
}

.project-name {
  margin: 0;
  font-size: 1.2em;
  text-transform: uppercase;
}

.project-meta {
  margin: 5px 0 0;
  font-size: 0.8em;
}

.project-details {
  display: flex;
  flex-direction: column;
  color: var(--text);
}

.info-div .header {
  display: flex;
  justify-content: space-between;
}

.info-div .header h2 {
  margin: 0;
  font-size: 3em;
  color: var(--highcontrast);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-div .header p {
  margin: 0;
}

.info-div .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.project-image {
  max-width: 100%;
  border-radius: 20px;
  width: 100%;
}

.project-type {
  font-style: italic;
  color: var(--text);
}

.project-link {
  position: relative;
  color: var(--primary);
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 5px;
}

.project-link:hover {
  text-decoration: underline;
}

.placeholder {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
  font-size: 1.2em;
}