#profile-div {
  border: 10px solid;
  box-sizing: border-box;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
  overflow: hidden;
}

.profile-div-none {
  color: var(--color-red);
  transition: 0.5s;
  margin: 2%;
  height: 40%;
  width: 50%;
}

.profile-div-profile-div {
  color: var(--color-blue);
  transition: 0.5s;
  margin: 0;
  height: 100%;
  width: 60%;
}

.profile-div-bottom-div {
  transition: 0.5s;
  margin: 0;
  height: 20%;
  width: 50%;
}

.profile-div-side-div {
  transition: 0.5s;
  margin: 0;
  height: 40%;
  width: 35%;
}
