.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 0;
  transition: 0.5s;
  animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel-track {
  display: flex;
  width: calc(100%);
  will-change: transform;
}

.carousel-slide {
  box-sizing: border-box;
  flex: 0 0 80%;
}
