#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  /* z-index: -1; */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.home-title {
  margin: 0;
  font-size: 8rem;
}

.home-title::after {
  content: 'Viotti';
  font-size: 10rem;
  text-decoration: underline;
}

.home-subtitle-container {
  display: flex;
  align-self: flex-start;
  font-size: 4em;
}

.home-subtitle {
  font-size: 4rem;
  margin: 0;
}

.hidden {
  opacity: 0;
}

#motion-text {
  /* color: var(--accent); */
  text-decoration: underline;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
  font-size: 0.8em;
  font-weight: 900;
}


.config {
  grid-area: config;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  color: var(--primary);
  /* border: 2px solid red; */
}


@media screen {
  @media (max-width: 768px) {
    .app-background {
      z-index: -1;
    }
  }

  @media (min-width: 769px) {
    .home-title {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translatey(-50%);
    }
  }
}